    <div class="row">
    	<div class="col-lg-4">
    		<img class="img-circle img-circle-about" src="Assets/Images/about.jpg" alt="scene of a street with a backlit archway in the background" style="width: 140px; height: 140px;" />
    		<h2>About</h2>
    		<p>Time is running out! The 1948 survivors are now in danger of losing the chance to tell their stories, because no one has built a space for their voices to be heard. The Nakba Museum Project aims to do precisely that- and ensure that the Palestinian legacy of endurance is passed on to future generations. It is a legacy that speaks to both peoples that sharing the land is indeed possible.<br /><br />
    			
    			While the media carries the urgent news of war and death, a museum allows us to place the immediate events in Israel/Palestine into a larger story, inviting people to understand what appears as a cause today is nothing more than a symptom of an unresolved yesterday. The Nakba project begins a new conversation in Washington by insisting that the history that we do not understand is the history we are most likely to repeat.  Since the idea was conceived in June 2014, the founders have discovered a real groundswell of support for the idea. <br /><br />
    			
    			The Nakba project is committed to being nonpolitical and nonpartisan. It will be a space which simply tells the human story, with all its paradoxes and pathos. It will not be about taking sides or proving someone right and wrong. Rather it aims to build a deeper understanding of the current impasse, and become a place for critical conversations for change. <br /><br />

    			The museum will be launched in stages and initially display paintings, art work, educational materials, articles, historic artifacts, and show movies. In stage two, it will host events, seminars, conferences, in which refugees and their relatives share their personal stories. The goal of each display or event will be to create a culture of listening and represent a non-contested space, through a simple invitation to witness.
    		</p>
    	</div><!-- /.col-lg-4 -->
    </div>