    <div class="row">
    	<div class="col-lg-4">
    		<img class="img-circle img-circle-contact" src="Assets/Images/contact.jpg" alt="black and white photograph of men in traditional garb sitting in a circle" style="width: 140px; height: 140px;" />
    		<h2>Contact</h2>
    		<p>This project is very personal to us, and we take your comments seriously. If you have any thoughts, ideas, comments, or questions - please feel free to email us. As the site grows, we'll be able to make this process easier for you.
    			<br />
    			<a class="contactLink" href="mailto:nakbamuseumproject@gmail.com?Subject=Museum%20Comments"><span class="glyphicon glyphicon-envelope"> Comments & Questions</span></a><br /><br />
    			Or Email us at: <b>nakbamuseumproject@gmail.com</b></p>
    		</div><!-- /.col-lg-4 -->
    	</div>