<div class="row">
  <div class="col-lg-12">
    <h2>Please Help Us Continue Our Work</h2>
    <p>
     Nakba Museum Project of Memory and Hope has a legal and tax exempt status in partnership with Nonviolence International. You can make a tax-deductible contribution to support our efforts by clicking blow or sending a check payable to:
   </p>

   <br /><br />

   <b>Nonviolence International with Nakba Museum Project</b> in the memo line:

   <br /><br />
   <address>
    <b>
     4000 Albemarle Street, NW <br />
     Suite 401	<br />
     Washington, DC 20016 <br />
     USA 
   </b>
 </address>

 <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5KFSCPDZZZAHG">
   <div class="btn btn-success btn-lg donateNow">Donate Now</div>
 </a> 

 <br /><br />

 (Please note that there is a 3.5% processing fee assessed by PayPal for this kind of donation. We highly recommend that for large donations you send a check.) We appreciate your generous support. 

 <br /><br />

 <b>Other ways you can help:</b> 

 <br /><br />

 •	If you are an artist and would like to participate in our upcoming exhibit, please contact us. Submit your art work and join our movement.

 <br /><br />

 •	If you have a story or artifacts to share, the Nakba Museum would like to feature it, if you have a family document, archives, letter and photos, we would like to help preserve them.

 <br /><br />

 •	Explain to your friends and family why this project is needed and ask them if they are willing to contribute or become part of our support team. 

 <br /><br />
</div>
</div>

