<div class="row featurette featuretteMargin">

  <img class="featurette-image img-responsive" src="Assets/Images/flyer.gif" alt="flyer for nakba museum" />

</div>

<br />

<!--iframe Video player
<div class="responsive-container">

  <iframe src="https://player.vimeo.com/video/120018965?color=ff9933" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
  <p>
    <a href="https://vimeo.com/120018965">Opening exhibit June 2015</a> from <a href="https://vimeo.com/user37469720">Nakba Museum Project</a> on <a href="https://vimeo.com">Vimeo</a>.
  </p>
</div> -->

<div class="col-lg-12">

  <h2>The Nakba Museum Project of Memory and Hope debuts at the <a href="https://goo.gl/maps/d6ldz">Festival Center</a> on <b>June 13, 2015</b>, and we invite you to join us at this special exhibit.</h2>

  <br />

  <b>Dates and Times of the Exhibit </b><br />
  June 13 – June 27, 2015<br />
  Monday-Wednesday 10am – 3pm <br />
  Friday* and Saturday 3pm – 9pm
  * Friday, June 26 10am – 3pm<br /><br />

  <address>
    <b>Location</b><br />
    <a href="https://goo.gl/maps/d6ldz">Festival Center<br />
     1640 Columbia Road NW<br />
     Washington, DC 20009</a><br />
   </address>

   <b>Special Events</b><br />
   June 13 – 6:30 pm – "Life and art in refugee camps, a presentation," by Ahmed Hmeedat<br />
   June 19 – 6:30 pm – On the Side of the Road documentary<br />
   June 20 – 6:30 pm –“It’s what we do” A play about the occupation” + The Wall Performance<br />
   June 27 – 6:30 pm – Art Auction hosted by comedy troupe <b>Ted and Company<b>, performing <a href="http://www.tedandcompany.com/shows/id-like-to-buy-an-enemy/">"I would like to buy an enemy"</a><br /><br />
   
   <b>FREE ADMISSION</b><br />
   For more information or group reservations, please contact us at <a href="mailto:nakbamuseumproject@gmail.com">nakbamuseumproject@gmail.com</a>

   <p>
    Nakba (‘catastrophe’ in Arabic) refers to the mass expulsion of Palestinians from their homes in 1948 and represents a dark period in the Palestinian existence. However, the Nakba is not just a singular event in the past, it is an ongoing reality for all Palestinians who live under the Israeli occupation. The stories of the Nakba have often been ignored and, in many cases, deliberately erased or violently suppressed. Israel’s Nakba Law, passed in 2011, has further silenced these deeply personal and human stories by making it illegal for public organizations to raise awareness about the Nakba.

    <br /><br />

    Freedom of speech is not a political issue, it is a human one. Preserving one’s culture is not the privilege of a few, it is the right of every human. And sharing one’s life experiences with the world is not a crime, it is the fuel of humanity. Through hearing other people’s experiences, we broaden our worldview and become more open-minded to lives and cultures that are different from our own.

    <br /><br />

    The Nakba Museum Project aims to invite Palestinians to finally tell their stories by providing them with a safe environment in which they can freely share their experiences of loss, devastation and hope. Through preserving these stories, we strive to preserve Palestinian heritage in its entirety. Our inaugural exhibit, Reclaiming the Lost Future, features a comprehensive exhibition about the flight and expulsion of Palestinians in 1948; photographs of nonviolent resistance and everyday life in the West Bank and Gaza; paintings by Palestinian artists living in refugee camps; and eyewitness testimonies and interviews with Palestinian refugees that highlight their struggles, loss, and undying resilience.
    
    <br /><br />

    The Nakba Museum Project is nonpolitical and nonpartisan. We are simply here to tell a human story and build hope for Palestinians and Israelis that future peaceful coexistence is possible. Our team brings together individuals from different backgrounds and faiths, including Palestinians, Americans, Israelis, Christians, Jews, and Muslims. This project is very important to us, and we hope to see you there.
    
    <br /><br />

  </p>
</div>
