    <div class="row">
        <div class="responsive-container">
        <iframe src="https://player.vimeo.com/video/120018965?color=ff9933" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/120018965">Opening exhibit June 2015</a> from <a href="https://vimeo.com/user37469720">Nakba Museum Project</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <div class="col-lg-12">
      <img class="img-circle img-circle-about" src="Assets/Images/about.jpg" alt="scene of a street with a backlit archway in the background" style="width: 140px; height: 140px;" />
      <h2>The Exhibit</h2>
      <p>

         Thank you for helping to fund the first Nakba Museum exhibit in the United States. We sincerely appreciate you for believing in our project and for your contributions. We are proud to announce that we have well surpassed our $14,000 goal.
         <br /><br />

         While this project is still in its early stages, we are encouraged by your enormous support. We intend to show what the Nakba Museum of Memory and Hope can offer and create a groundswell of support for a permanent space in the Washington DC area. 

         <br /><br />

         <h2>The Nakba Museum Inaugural Exhibit: June 12th - 27th, 2015</h2>

         We have secured the venue, the art work and photography, booked the Palestinian artist to fly to Washington, D.C., and we are working to plan the two weeks of events that accompany the exhibit. We will keep you updated through our Facebook page, our website, and email updates.

         <br /><br />

         Please save the date and come to see what your generosity has made possible! We will post the exhibit schedule shortly. 

         <br /><br />

         Our campaign is closed but you can still <b><a href="http://www.nakbamuseumproject.com/#/support">donate </a></b> to create a permanent space for the museum.

         <br /><br />
         <h2>We would like thank everyone who donated, shared, and spread the word about our campaign. And since we value each one of you, we are acknowledging your name and contribution.</h3>
            <br />
            <h3>Exhibit Sponsors</h3>

            <br />
            <b>
               General Board of Church and Society of the United Methodist Church<br />
               Seekers Church<br />
               Ellen Lucas<br />
               John Van Wagener<br />
               John Usher<br />
               Daryl and Cynthia Byler<br />
               Lama Najar<br />
               Hani Marar Donors 
           </b>
           <br /><br />

           <h3>Donations of $100 and up</h3>
           <br />
           Willie Ruff, Jim Michie, Ann Laikow, Lorie and Wilbur Wood, Michael Rabb, Steve France, Sandra Miller, Kevin and Sue Glick, Vladislav Kransov, Ted Crosby, Robert Westson, Jennifer and Sheldon Good, John Erickson, Guy Benintend, Jannie Elisa Fjordside, Daniel Sheehan, Jim Anderson, Jane Nahass, Alan Hopkinson, Zuhair Rayyes, C Quigley, Stan Current, Mona Thomas, Evie Miller, Harold Knight, Don Foth, Paul Feigenbaum, Randie Clawson, Ken Weinstein, Nabil Bahu, Linda McVay, Peter Hawley, William B. Lane and Mary Tomassetti, Robert Shook, Art Hunt, Margaret Holding-Barrett, Eleanora Lavizzo, Mary Fowler, Susan Bell, George Graves, Germana Nijim, Sawsan Wahhab, Andrew Nussbaum, Omar Hawit, David Sahar, Jayne Docherthy, Markely Roberts, Randa Dandum, James McCarthy  

           <br /><br />

           <h3>Donations of $35 and up</h3>
           <br />
           Sarah Amick, Lees Carpenter, Joyce Guinn, Judith Roberts, Vicki Colorado, Massimo Mandolini-Pearesi, William Simonds, Glyn Secker, Lia Tarachansky, Bob Bersson, Richard Forer, Jennifer Ireland, Elese Sizemore, Rael Nidess, Harold Knight, Mike Abel, Declan Keogh, Irmgard Scherer, Nader Barakat, Aref Assaf, Andrea Nore, Cynthia Terrell, Jan Headen, John Thomas, Farida Ibrahim, Tarek Abuata, Marilyn Hacker, Trish Nemore, Camille Cole, Michael McRay, Katy Miller, Youngmin Know, Becky Harlan, Maya Harris, Dan Liberman, Eva Scan, Dalell Mohmed, Harry Gunkel, Catherine Baker, Jan Miller, Mary Baine Campbell, Norbert Hirschhorn, Dorothy  Jean Waver, Sally King, Fadi Saba 
           <br /><br />
           <h3>A special thank you to the many anonymous donors who also made significant contributions.</h3>
       </p>
   </div><!-- /.col-lg-4 -->
</div>










