    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle img-circle-about" src="Assets/Images/about.jpg" alt="scene of a street with a backlit archway in the background" style="width: 140px; height: 140px;" />
            <h2>About</h2>
            <p>Time is running out! The 1948 survivors are now in danger of losing the chance to tell their stories, because no one has built a space for their voices to be heard.</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
   
        <div class="col-lg-4">
            <img class="img-circle img-circle-mission" src="Assets/Images/mission.jpg" alt="vintage image of men posing in traditional garb." style="width: 140px; height: 140px;" />
            <h2>Mission</h2>
            <p>We believe that sharing stories is a powerful tool to change perceptions, and to transform systems and conflicts.</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle img-circle-contact" src="Assets/Images/gallery.jpg" alt="photograph of a woman sitting under a tree" style="width: 140px; height: 140px;" />
            <h2>Contact</h2>
            <p>This project is very personal to us, and we take your comments seriously. If you have any thoughts, ideas, comments, or questions - please feel free to email us.</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->

    </div>