    <div class="row">
    	<div class="col-lg-4">
    		<img class="img-circle img-circle-mission" src="Assets/Images/mission.jpg" alt="dated photograph of native Palestinians in traditional dress" style="width: 140px; height: 140px;" />
    		<h2>Mission</h2>
    		<p>We believe that sharing stories is a powerful tool to change perceptions, and to transform systems and conflicts. We believe that refugee stories need to be acknowledged, witnessed and finally for the refugees to be empowered to respond in acts of healing and reconciliation. <b> We aim to tell these human stories, give refugees a voice, and build hope for both Palestinians and Israelis that sharing the land is indeed possible.</b></p>
    	</div><!-- /.col-lg-4 -->
    </div>