<div class="row">
  <div class="col-lg-12">

    <img class="img-circle img-circle-support" src="Assets/Images/support.jpg" alt="circular painting of women carying water on their heads" style="width: 140px; height: 140px;" />

    <h2>Thank You for Supporting Us</h2>

    <p>
      Thank you for helping to fund the first Nakba Museum exhibit in the United States. We sincerely appreciate you for believing in our project and for your contributions. We are proud to announce that we have well surpassed our $14,000 goal.

      <br /><br />

      While this project is still in its early stages, we are encouraged by your enormous support. We intend to show what the Nakba Museum of Memory and Hope can offer and create a groundswell of support for a permanent space in the Washington DC area. 

      <br /><br />

      <hr class="featurette-divider"></hr>

      <h2>We would like thank everyone who donated, shared, and spread the word about our campaign. And since we value each one of you, we are acknowledging your name and contribution.</h2><br />

      <h3>Exhibit Sponsors</h3><br />

      <b>
       General Board of Church and Society of the United Methodist Church<br />
       Seekers Church<br />
       Ellen Lucas<br />
       John Van Wagener<br />
       John Usher<br />
       Daryl and Cynthia Byler<br />
       Lama Najar<br />
       Hani Marar<br />
       Washington Report for Middle East Affairs
     </b>

     <br /><br />

     <h3>Donations of $100 and up</h3><br />

     Willie Ruff, Jim Michie, Ann Laikow, Lorie and Wilbur Wood, Michael Rabb, Steve France, Sandra Miller, Kevin and Sue Glick, Vladislav Kransov, Ted Crosby, Robert Westson, Jennifer and Sheldon Good, John Erickson, Guy Benintend, Jannie Elisa Fjordside, Daniel Sheehan, Jim Anderson, Jane Nahass, Alan Hopkinson, Zuhair Rayyes, C Quigley, Stan Current, Mona Thomas, Evie Miller, Harold Knight, Don Foth, Paul Feigenbaum, Randie Clawson, Ken Weinstein, Nabil Bahu, Linda McVay, Peter Hawley, William B. Lane and Mary Tomassetti, Robert Shook, Art Hunt, Margaret Holding-Barrett, Eleanora Lavizzo, Mary Fowler, Susan Bell, George Graves, Germana Nijim, Sawsan Wahhab, Andrew Nussbaum, Omar Hawit, David Sahar, Jayne Docherthy, Markely Roberts, Randa Dandum, James McCarthy, and Ron and Sue Dudum.

     <br /><br />

     <h3>Donations of $35 and up</h3><br />

     Sarah Amick, Lees Carpenter, Joyce Guinn, Judith Roberts, Vicki Colorado, Massimo Mandolini-Pearesi, William Simonds, Glyn Secker, Lia Tarachansky, Bob Bersson, Richard Forer, Jennifer Ireland, Elese Sizemore, Rael Nidess, Harold Knight, Mike Abel, Declan Keogh, Irmgard Scherer, Nader Barakat, Aref Assaf, Andrea Nore, Cynthia Terrell, Jan Headen, John Thomas, Farida Ibrahim, Tarek Abuata, Marilyn Hacker, Trish Nemore, Camille Cole, Michael McRay, Katy Miller, Youngmin Know, Becky Harlan, Maya Harris, Dan Liberman, Eva Scan, Dalell Mohmed, Harry Gunkel, Catherine Baker, Jan Miller, Mary Baine Campbell, Norbert Hirschhorn, Dorothy  Jean Waver, Sally King, Fadi Saba 

     <br /><br />

     <h3>A special thank you to the many anonymous donors who also made significant contributions.</h3><br />

     More information about our completed Indiegogo campaign can be found at: 

     <br />

     <a href="http://www.indiegogo.com/projects/nakba-museum-project-of-memory-and-hope/x/237003">indiegogo.com/projects/nakba-museum-project-of-memory-and-hope/x/237003</a>
     
   </p>
 </div><!-- /.col-lg-4 -->
</div>