    <div class="row">
    	<div class="col-lg-4">
    		<img class="img-circle img-circle-support" src="Assets/Images/support.jpg" alt="circular painting of women carying water on their heads" style="width: 140px; height: 140px;" />
    		<h2>Support</h2>
    		<p>			<span>
				<br />
				We are inviting you to invest in the story, <span class="contentAccent">we are inviting you to empower those who have suffered the most, who have endured the most, to finally be able to be heard.</span><br /><br />



				<h2>Please Help Us Continue Our Work</h2>

				Nakba Museum Project of Memory and Hope has a legal and tax exempt status in partnership with Nonviolence International. You can make a tax-deductible contribution to support our efforts by clicking blow or sending a check payable to:
				<br />
				<br />
				<b>Nonviolence International with Nakba Museum Project</b> in the memo line:
				<b>
					<br />
					<br />
					<address>
						4000 Albemarle Street, NW <br />
						Suite 401	<br />
						Washington, DC 20016 <br />
						USA
					</address>
				</b>
								<a href="https://org2.salsalabs.com/o/5904/p/salsa/donation/common/public/?donate_page_KEY=959">
					<div class="btn btn-success btn-lg donateNow">
						<span>Donate Now</span>
					</div>
				</a> <BR /> <br />
<em>Please indicate below that this donation is designated to <b>“Nakba Museum Project”</b> in the Please designate this gift for a specific purpose "Designation Code" box. </em>(Please note that there is a 3.5% processing fee assessed by PayPal for this kind of donation. We highly recommend that for large donations you send a check.)
We appreciate your generous support. 
				<br />
				<br />
<b>Other ways you can help:</b> <br /><br />
•	If you are an artist and would like to participate in our upcoming exhibit, please contact us. Submit your art work and join our movement.<br /><br />
•	If you have a story or artifacts to share, the Nakba Museum would like to feature it, if you have a family document, archives, letter and photos, we would like to help preserve them.<br /><br />
•	Explain to your friends and family why this project is needed and ask them if they are willing to contribute or become part of our support team. <br /><br /></p>
    	</div><!-- /.col-lg-4 -->
    </div>