/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a; 
}

/* COLORS */
$brown: #463320;
$sandyBrown: rgba(147,115,81,.50);
$greenAccent: #639A68;
$purple: #aa8395;
$blue: #8398aa;
$transparentWhite: rgba(204,204,204,.8);
$darkGray: #333;

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* NAVBAR Style Scheme */
.navbar {
  background: $transparentWhite;
}
.navbar, .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: $darkGray;
}
.navbar-nav {
  font-family: "Lato", sans-serif;
  font-variant: small-caps;
  font-weight: 800;
  font-size: 1em;
}
.navbar-inverse, .navbar-collapse {
  border: none;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CAROUSEL */
#carouselMain .item img {
  display: block;
  width: 100%;
  height: auto;
}

#carouselMain {
  margin-bottom: 2.5em;
}

.firstImage, .secondImage, .thirdImage {
  position: absolute;
  text-align: center;
  font-family: "Merriweather", serif;
  margin-left: 27%;
  top: 45%;
  font-size: 1.5em;
  color: #222;
  line-height: 1.5em;
}

/* Template CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.tempView .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.tempView h2 {
  font-weight: normal;
}
.tempView .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Img Colors */
.img-circle-about {
  background-color: $greenAccent;
}
.img-circle-mission {
  background-color: $sandyBrown;
}
.img-circle-gallery {
  background-color: $purple;
}
.img-circle-contact {
  background-color: $blue;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 30px;
}

.feature1, .feature2, .feature3 {
  height: 250px;
  width: 250px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .featurette-heading {
    font-size: 30px;
  }
}

@media (max-width: 620px) {
  .firstImage, .secondImage, .thirdImage {
      margin-left: 20%;
      font-size: 1em;
      top: 33%;
  }
}